<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>

    <body>
         
<div class="container">
 <nav>
		<ul>
		<li><a href="/">Home</a></li>
		<!-- <li><a href="/projects">Projects</a></li>
		<li><a href="/cv">Resume</a></li> -->
		<!-- <li><a href="/blog">Blog</a></li> -->
		</ul>
    </nav>
  {{ content }}
	
<footer>
   <ul>
   <li><a href="mailto:siddarthareddy.turpu@gmail.com">email</a></li>
   <li><a href="https://github.com/siddarthareddyt">github.com/siddarthareddyt</a></li>
   <li><a href="https://uptowork.com/mycv/siddarthart">Resume</a></li>

   </ul>
  </footer>

</div>


  
  </body>

</html>
