<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>

    <body>
         
<div class="container">

<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="passive"><a href="/" title="Home">Home</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Siddartha Reddy</a></h3>
</div>
	
  {{ content }}
	<div class="footer">
		<div class="row">
			<div class="col-sm-4">
				<p><small><a href="mailto:siddarthareddy.turpu@gmail.com">email</a></small></p>
			</div>
			<div class="col-sm-4">
				<p><small><a href="https://github.com/siddarthareddyt">github</a></small></p>
			</div>
			<div class="col-sm-4">
				<p><small><a href="https://uptowork.com/mycv/siddarthart">Resume</a></small></p>
			</div>
		</div>
	</div>
</div>


</body>

</html>
